/*Color Variables*/
$pearl:#82D4BB;
$beau:#BEE9E8;
$paleyellow: #F3FFBD;
$elecblue: #75F4F4;
$alabaster: #F5E6E8;
$sonic: #7A7978;
$afwhite: #EDF2F4;
$coral: #545677;
$davy: #4C5454;
/*----------------*/


body {
    background: no-repeat center center fixed linear-gradient($elecblue, $paleyellow);
    font-family: 'Work Sans', sans-serif;
    text-transform: uppercase;
    font-size: 14px;
}
p {
    padding: 10px 20px 10px 20px;
}
h1 {
    font-weight: bold;
    font-size: 3.4em;
    text-align: center;
}
hr { 
    display: block;
    margin-top: 20px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    border: 3px solid $davy;
}

.row {
    text-align: center;
}
.aboutContent {
    height: 450px;
    margin-bottom: 100px;
}
#headshot {
    margin: 40px auto;
}
#nameIntro {
    margin-bottom: 80px;
}
.textColumn {
    margin-top: 50px;
    height: 90%;
    background-color: white;
    border: 4px solid $coral;
    border-radius: 5px;
    text-align: left;
    font-size: 3.0em;
}

#footer {
    margin-top: 50px;
    height: 100px;
    width: 100%;
    background-color: $davy;
    text-align: center;
}

.fa-4x {
    margin:20px 40px 20px 40px;
}