/*Color Variables*/
$pearl:#82D4BB;
$beau:#BEE9E8;
$paleyellow: #F3FFBD;
$elecblue: #75F4F4;
$alabaster: #F5E6E8;
$sonic: #7A7978;
$afwhite: #EDF2F4;
$coral: #545677;
$davy: #4C5454;
/*----------------*/


body {
    background-image: no-repeat center center fixed -webkit-gradient(linear, left top, left bottom, color-stop($elecblue,$paleyellow));
    background-image: no-repeat center center fixed -o-linear-gradient($elecblue, $paleyellow);
    background-image: no-repeat center center fixed -moz-linear-gradient($elecblue, $paleyellow);
    background: no-repeat center center fixed linear-gradient($elecblue, $paleyellow);
    font-family: 'Work Sans', sans-serif;
    font-size: 14px;
}
p {
    padding: 10px 20px 10px 20px;
}
h1 {
    font-weight: bold;
    font-size: 3.4em;
    text-align: center;
}
h3 {
    font-weight: bold;
    font-size: 2.0em;
}
hr { 
    display: block;
    margin-top: 20px;
    margin-bottom: 150px;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    border: 3px solid $davy;
}
a:hover, a:visited, a:link, a:active {
    text-decoration: none;
    transition: color 1s !important;
}
.projects {
    height: 500px;
    font-size: 1.6em;
}
.project{
    p {
        font-size: 1.2em;
    }
}
.projScreen {
    width: 100%;
    height: 100%;
    margin-top: 20px;
    border: 5px solid $davy;
}
.project {
    background-color: $paleyellow;
    margin: 50px auto;
}
.row {
    text-align: center;
}
.aboutContent {
    height: 450px;
}
#aboutMe {
    p {
        font-size: 1.2em;
    }
}
#headshot {
    margin: 40px auto;
    width: 40%;
    border: $davy solid 8px;
}
#nameIntro {
    margin-bottom: 80px;
}
#icode {
    margin-top: 200px;
}
.textColumn {
    margin-top: 50px;
    height: 90%;
    background-color: white;
    border: 4px solid $coral;
    border-radius: 5px;
    text-align: left;
    font-size: 3.0em;
}

#footer {
    margin-top: 50px;
    height: 100px;
    width: 100%;
    background-color: $davy;
    text-align: center;
    position: absolute;
    left: 0;
    width: 100%;
}

.fa-4x {
    margin:20px 40px 20px 40px;
}

.pulse {
    animation-duration: 3s;
    -o-animation-duration: 3s;
    -moz-animation-duration: 3s;
    -webkit-animation-duration: 3s;
}